	.col-md-3 a:link{color:#b4b4b4;text-decoration: none;}
	.col-md-3 a:visited{color:#b4b4b4;text-decoration: none;}
	  .col-md-3 h2{color:#222;}
	  .col-md-3 img{height:40px;width: 40px;border-radius: 5px;margin-right: 10px;}
	  #shetuanjianjie{color:#222;}
	.col-md-3 a:hover{font-size: 23px;text-decoration: underline;}
	.big-cantainer{height:auto;width: 1200px;margin:-30px auto;}
	.carousel{height:auto;background:#000;}
	.grounptab{font-family: "微软雅黑";color:#b4b4b4;height: 300px;widows: 100%;}
	.zhage{font-family: "微软雅黑";color:#b4b4b4;height: 350px;widows: 100%;margin-top:0px;}
	.active{font-family: "微软雅黑";color:#b4b4b4;}
	.col-md-3{font-size:20px;}
	.welcome{border-radius: 15px;height:350px;width:49%;float: left;background-color:#428BCA;}
	.welcantain{height:350px;background-color: #428BCA;float: right;margin-right: 20px;}
  .email{height:350px;width:49%;float:right;margin-bottom: 15px;}
  .frilink{height:90px;background-color:#428BCA;clear:both;border-radius: 15px;}
	.frilink div{background-color:#222222;height:60px;width:100px;margin-top:15px;
	  margin-left:30px;float:left;color:white;font-family:"微软雅黑";border-radius: 15px;}
	.frilink div span{line-height:60px;margin-left:15px;}
	.frilink select {margin-top:30px;margin-left:30px;}
  .footer{float:right;clear:both;}
     #intriduce,#member,#developement{font-size: 18px;font-family: "微软雅黑";}
	  .tab-pane span{display:block;margin-right:10px;float: left;border-radius: 10px;}
	  .tab-pane span img{height: 250px;width: 300px;border-radius: 10px;}
	   #member span{display: block;float:right;margin-right: 100px;margin-top: 0px;}
	  .item .qiming{position: absolute;left: 800px;top: 100px;text-align: right;width: 500px;height: 100px;}
	  